<div class="logo">
    <div class="wrap">
        <img src="{{ site.baseurl }}images/gear.svg" onerror="this.onerror=null; this.src='{{ site.baseurl }}images/gear.png';">
        <a href="{{ site.baseurl }}"><h1 class="text">mel</h1></a>
        </div>
    <div class="wrap">
        <img src="{{ site.baseurl }}images/gear.svg" onerror="this.onerror=null; this.src='{{ site.baseurl }}images/gear.png';">
        <a href="{{ site.baseurl }}"><h1 class="text">anim</h1></a>
    </div>
</div>
<h3>Keyframe based animation framework</h3>