<div class="well well-small">
    <ul class="nav nav-list nav-stacked">
    
        <li class="nav-header">справка по библиотеке</li>
        
        <li><a href="#">Сравнение с другими библиотеками</a> </li>
        <li><a href="#">Возможности melAnim</a> </li>
        <li><a href="{{ site.baseurl }}pages/api.html" class="page-loader">Описание API</a></li>
        
        <li class="divider"></li>
        
        <li class="nav-header">Демки</li>
        
        <li><a href="#">Примеры использования</a></li>
        <li><a href="#">Визуальный конструктор</a> </li>
        <li><a href="#">Конструктор смягчений</a> </li>
        
        <li class="divider"></li>
        
        <li class="nav-header">Тесты</li>
        
        <li><a href="#">&lt;в разработке&gt;</a> </li>
        
</ul>
</div>