<div class="well well-small">
    <ul class="nav nav-list nav-stacked">
    
        {% for category in site.categories %}

            <li class="nav-header">{{ category[0] }}</li>

            {% for posts in category offset:1 %}
                {% for node in posts %}

                    {% if page.url == node.url %}
                        <li class="active"><a href="{{ site.baseurl }}{{node.url}}" class="active">{{node.title}}</a></li>
                    {% else %}
                        <li><a href="{{ site.baseurl }}{{node.url}}">{{node.title}}</a></li>
                    {% endif %}

                {% endfor %}
            {% endfor %}

            {% unless forloop.last %}
                <li class="divider"></li>
            {% endunless %}
            
        {% endfor %}
        
    </ul>
</div>