.highlight  { display: block; background-color: #333; }
.highlight .hll { background-color: #ffffcc }

.highlight .err { color: #ffffff} /* Error */

.highlight code,
.highlight .g { color: #ffffff} /* Generic */

.highlight .l { color: #cd5c5c} /* Literal */
.highlight .n { color: #ffffff} /* Name */
.highlight .o { color: #FFFDD0} /* Operator */
.highlight .x { color: #ffffff} /* Other */
.highlight .p { color: #FFFDD0} /* Punctuation */

.highlight .c,  /* Comment */
.highlight .cm, /* Comment.Multiline */
.highlight .cp, /* Comment.Preproc */
.highlight .c1, /* Comment.Single */
.highlight .cs { color: #87ceeb} /* Comment.Special */

.highlight .gd { color: #0000c0; font-weight: bold; background-color: #008080 } /* Generic.Deleted */
.highlight .ge { color: #c000c0; text-decoration: underline} /* Generic.Emph */
.highlight .gr { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Error */
.highlight .gh { color: #cd5c5c} /* Generic.Heading */
.highlight .gi { color: #ffffff; background-color: #0000c0 } /* Generic.Inserted */
.highlight .go { color: #add8e6; font-weight: bold; background-color: #4d4d4d } /* Generic.Output */
.highlight .gp { color: #ffffff} /* Generic.Prompt */
.highlight .gs { color: #ffffff} /* Generic.Strong */
.highlight .gu { color: #cd5c5c} /* Generic.Subheading */
.highlight .gt { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Traceback */

.highlight .k, /* Keyword */
.highlight .kc, /* Keyword.Constant */
.highlight .kd, /* Keyword.Declaration */
.highlight .kn, /* Keyword.Namespace */
.highlight .kp, /* Keyword.Pseudo */
.highlight .kr { color: #f0e68c; font-weight: bold }/* Keyword.Reserved */

.highlight .kt { color: #98fb98; } /* Keyword.Type */

.highlight .na { color: #bdb76b; font-weight: bold } /* Name.Attribute */
.highlight .nb { color: #ffffff} /* Name.Builtin */
.highlight .nc { color: #CAE682} /* Name.Class */
.highlight .no { color: #ffa0a0} /* Name.Constant */
.highlight .nd { color: #FFDAAB} /* Name.Decorator */
.highlight .ni { color: #ffdead} /* Name.Entity */
.highlight .ne { color: #ffffff} /* Name.Exception */
.highlight .nf { color: #ffffff} /* Name.Function */
.highlight .nl { color: #ffffff} /* Name.Label */
.highlight .nn { color: #ffffff} /* Name.Namespace */
.highlight .nx { color: #ffffff} /* Name.Other */
.highlight .py { color: #ffffff} /* Name.Property */
.highlight .nt { color: #f0e68c; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #98fb98} /* Name.Variable */
.highlight .ow { color: #ffffff} /* Operator.Word */
.highlight .w { color: #ffffff} /* Text.Whitespace */

.highlight .ld, /* Literal.Date */
.highlight .mf, /* Literal.Number.Float */
.highlight .mh, /* Literal.Number.Hex */
.highlight .mi, /* Literal.Number.Integer */
.highlight .mo, /* Literal.Number.Oct */
.highlight .m,  /* Literal.Number */
.highlight .il { color: #98fb98} /* Literal.Number.Integer.Long */

.highlight .s,  /* Literal.String */
.highlight .sb, /* Literal.String.Backtick */
.highlight .sc, /* Literal.String.Char */
.highlight .sd, /* Literal.String.Doc */
.highlight .s2, /* Literal.String.Double */
.highlight .se, /* Literal.String.Escape */
.highlight .sh, /* Literal.String.Heredoc */
.highlight .si, /* Literal.String.Interpol */
.highlight .sx, /* Literal.String.Other */
.highlight .sr, /* Literal.String.Regex */
.highlight .s1, /* Literal.String.Single */
.highlight .ss { color: #ffa0a0} /* Literal.String.Symbol */

.highlight .bp { color: #ffffff} /* Name.Builtin.Pseudo */
.highlight .vc { color: #98fb98} /* Name.Variable.Class */
.highlight .vg { color: #98fb98} /* Name.Variable.Global */
.highlight .vi { color: #98fb98} /* Name.Variable.Instance */